@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css);
@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css) layer(Reset);
@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css) layer(Slide);
@layer Typography {
  :is(*, *::before, *::after) {
    content: "";
    font-family: "Pretendard Variable";
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.5rem;
    color: #222;
  }
  .heading.md {
    font-size: 5rem;
    font-weight: 900;
    color: #000;
    padding-bottom: 3.5rem;
  }
}
.ally-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  overflow-x: hidden;
}

.header {
  position: relative;
  z-index: 1000;
}
.header .header_wrap {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
  max-width: 160rem;
  margin-inline: auto;
  padding-top: 13rem;
}

.utility {
  position: absolute;
  inset: 0 0 auto;
  background-color: #000;
  padding-block: 2.3rem;
}
.utility > div {
  width: 160rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-inline: auto;
}

.align {
  display: flex;
}
.align.both {
  justify-content: space-between;
  align-items: anchor-center;
}

.web-center {
  width: 160rem;
}

.mx-auto, .academy-now {
  width: 160rem;
  margin-inline: auto;
}

.logo img {
  width: 15rem;
}

.familysite {
  display: flex;
  gap: 2rem;
  padding: 0 0 1rem 0;
}
.familysite a {
  font-size: 5rem;
  font-weight: 800;
}
.familysite li {
  transition: 0.3s;
}
.familysite li:nth-child(1):hover, .familysite li:nth-of-type(1) a:focus {
  color: fuchsia;
}
.familysite li:nth-child(2):hover, .familysite li:nth-of-type(2) a:focus {
  color: yellowgreen;
}
.familysite li:nth-child(3):hover, .familysite li:nth-of-type(3) a:focus {
  color: orange;
}
.familysite li:nth-child(4):hover, .familysite li:nth-of-type(4) a:focus {
  color: purple;
}
.familysite li:nth-child(5):hover, .familysite li:nth-of-type(5) a:focus {
  color: skyblue;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.btn-archive {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.4rem;
}
.btn-archive::before {
  content: "";
  width: 2rem;
  aspect-ratio: 1;
  background: url("../images/ico_archive.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-archive::before {
  background: url("../images/ico_archive_white.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-archive {
  color: #fff;
}

.btn-calender {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 0.4rem;
}
.btn-calender::before {
  content: "";
  width: 2rem;
  aspect-ratio: 1;
  background: url("../images/ico_calendar.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-calender::before {
  background: url("../images/ico_calendar_white.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-calender {
  color: #fff;
}

.btn-search {
  width: 4rem;
  aspect-ratio: 1;
  background: url("../images/ico_search.svg") no-repeat center;
  background-size: contain;
}
.header .btn-search {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: end;
}
.search .btn-search {
  translate: 0 1.5rem;
}

.btn-close {
  width: 4rem;
  aspect-ratio: 1;
  background: url("../images/ico_close.svg") no-repeat center;
  background-size: contain;
}
.search .btn-close {
  position: absolute;
  top: -2rem;
  right: 0;
}

.button-more {
  display: inline-flex;
  width: 8rem;
  border-bottom: 0.2rem solid #000;
  justify-content: end;
}
.button-more::after {
  content: "";
  border-left: 0.2rem solid #000;
  height: 3rem;
  font-size: 0;
  rotate: -45deg;
  transform-origin: bottom;
}

.search {
  position: absolute;
  top: 12.5rem;
  width: 160rem;
  align-content: center;
  border: none;
  padding: 5rem 0 0 0;
}
.search form {
  padding: 2rem 0;
  border-bottom: 0.1rem solid #222;
  display: grid;
  grid-template-columns: 1fr min-content;
}
.search form input {
  font-size: 5rem;
  font-weight: 900;
  height: 10rem;
  border: none;
  outline: none;
}

.gnb > ul {
  display: flex;
}
.gnb > ul > li {
  position: relative;
}
.gnb ul .gnb > ul > li :hover {
  border-bottom: 0.1rem solid #222;
}
.gnb > ul > li > a {
  display: block;
  padding-inline: 4rem;
  font-size: 2rem;
  font-weight: 600;
}
.gnb > ul > li > a span {
  display: block;
  padding-block: 3rem;
  background: linear-gradient(#000, #000) no-repeat center bottom/0% 0.3rem;
}
.gnb > ul > li.on > a span {
  background-size: 100% 0.3rem;
}
.gnb > ul > li.on .depth li {
  color: #000;
}
.gnb > ul > li.gnbon .depth {
  grid-template-rows: 1fr;
}
.gnb > ul > li.gnbon .depth li {
  color: #000;
}
.gnb > ul > li.gnbon .depth li a:focus {
  font-weight: 600;
}
.gnb > ul .depth {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s;
  position: absolute;
  inset: 8rem 0 auto;
}
.gnb > ul .depth ul {
  overflow: hidden;
}
.gnb > ul .depth li {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 1rem 0;
  text-align: center;
  color: #aaa;
}
.gnb > ul .depth li:hover {
  font-weight: 600;
}

header {
  isolation: isolate;
}
header::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 0;
  background: linear-gradient(to bottom, #e6e6e6 1px, #fff 1px, #fff);
  z-index: -1;
  transition: 0.3s;
}
header:has(.gnb li:hover)::after, header:has(.gnb a:focus)::after {
  height: var(--height);
  inset: auto 0 calc(var(--height) * -1);
}

@layer Slide {
  .playnow {
    padding-top: 14rem;
  }
}
.tab-list {
  display: flex;
  gap: 1.5rem;
}
.tab-list button {
  padding: 0 0 0.4rem;
  background-color: transparent;
  font-size: 1.6rem;
  background: linear-gradient(#000, #000) no-repeat center bottom/0 0.2rem;
}
.tab-list button:hover, .tab-list button:focus, .tab-list button.active {
  background-size: 100% 0.2rem;
}

.list-hash {
  display: flex;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.list-hash button {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
.list-hash button.--active {
  background-color: #fff;
  border: 1px solid #000;
}

.academy_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4rem 2rem;
}
.academy_list a {
  position: relative;
  display: grid;
}
.academy_list a .thumbnail {
  order: 1;
}
.academy_list a .category {
  order: 2;
  font-size: 1.6rem;
  font-weight: 600;
  padding-block: 1rem;
}
.academy_list a .title {
  order: 3;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 2rem 0;
  min-height: 6rem;
}
.academy_list a .date {
  order: 4;
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.thumbnail {
  position: relative;
}
.thumbnail img {
  width: 100%;
}
.thumbnail img .academy_list {
  aspect-ratio: 3/4;
  object-fit: cover;
  height: 100%;
}
.thumbnail::after {
  content: "";
  position: absolute;
  background-color: rgba(37, 95, 137, 0.5);
  inset: 0;
  z-index: 1;
  opacity: 0;
}
.thumbnail:hover::after {
  opacity: 1;
}

.badge {
  background-color: var(--bg);
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 0.5rem 1rem;
  color: #fff;
}
.badge.all {
  --bg: #000;
}
.badge.hongdae {
  --bg: fuchsia;
}
.badge.nonsan {
  --bg: yellowgreen;
}
.badge.chuncheon {
  --bg: orange;
}
.badge.daechi {
  --bg: purple;
}
.badge.busan {
  --bg: skyblue;
}
.academy_list .badge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.playnow .align {
  width: 160rem;
}
.playnow .slide-wrap {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, var(--bg, #000) 40rem, transparent 40rem);
}
.playnow .slide-wrap.all {
  --bg: #000;
}
.playnow .slide-wrap.hongdae {
  --bg: fuchsia;
}
.playnow .slide-wrap.nonsan {
  --bg: yellowgreen;
}
.playnow .slide-wrap.chuncheon {
  --bg: orange;
}
.playnow .slide-wrap.daechi {
  --bg: purple;
}
.playnow .slide-wrap.busan {
  --bg: skyblue;
}
.playnow .swiper-slide {
  width: 40rem;
}
.playnow-slider {
  position: relative;
  height: 56rem;
  width: calc(100vw - var(--pl) + 45rem);
  overflow: visible;
  overflow-x: hidden;
}
.playnow-slider .swiper-wrapper {
  height: 99%;
}
.playnow-slider img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}
.playnow_information {
  position: absolute;
  inset: 0;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: grid;
  opacity: 0;
  grid-template-rows: min-content 1fr min-content min-content;
  opacity: 0;
}
.swiper-slide:hover .playnow_information, .swiper-slide a:focus .playnow_information {
  opacity: 1;
  transition: 0.1s;
}
.playnow_information_category, .playnow_information_place, .playnow_information_date {
  font-size: 2.5rem;
}
.playnow_information_category {
  font-weight: 600;
}
.playnow_information_title {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 5rem;
}
.playnow_info {
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 2rem;
  --swiper-scrollbar-bg-color: #444;
  --swiper-scrollbar-drag-bg-color: #fff;
  --swiper-scrollbar-sides-offset: 3.5rem;
  --swiper-scrollbar-bottom: 20%;
  position: relative;
  width: 45rem;
  padding: 9rem 0 0 5rem;
  height: 75rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 500;
}
.playnow_info span {
  display: block;
  font-size: 4.4rem;
  padding-top: 1rem;
}
.playnow_info .swiper-button-prev,
.playnow_info .swiper-button-next {
  border: 0.1rem solid #fff;
  border-radius: 5rem;
  padding: 1.5rem 2rem;
  top: 87%;
}
.playnow_info .swiper-button-prev {
  left: 3rem;
}
.playnow_info .swiper-button-next {
  right: 10rem;
}

.academy-now {
  margin-top: 22rem;
}

/*# sourceMappingURL=index.css.map */
