@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css) layer(Reset);
:is(*, *::before, *::after) {
  content: "";
  font-family: "Pretendard Variable";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: #222;
}

.ally-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
  max-width: 160rem;
  margin: 10rem auto auto;
}

.utility {
  position: absolute;
  inset: 0 0 auto;
  background-color: #000;
  padding-block: 2rem;
}
.utility > div {
  width: 160rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-inline: auto;
}

.logo img {
  width: 15rem;
}

.familysite {
  display: flex;
  gap: 2rem;
}
.familysite a {
  font-size: 5rem;
  font-weight: 800;
}
.familysite li {
  transition: 0.3s;
}
.familysite li:nth-child(1):hover {
  color: fuchsia;
}
.familysite li:nth-child(2):hover {
  color: yellowgreen;
}
.familysite li:nth-child(3):hover {
  color: orange;
}
.familysite li:nth-child(4):hover {
  color: purple;
}
.familysite li:nth-child(5):hover {
  color: skyblue;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.btn-archive {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 0.4rem;
}
.btn-archive::before {
  content: "";
  width: 2rem;
  aspect-ratio: 1;
  background: url("../images/ico_archive.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-archive::before {
  background: url("../images/ico_archive_white.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-archive {
  color: #fff;
}

.btn-calender {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 0.4rem;
}
.btn-calender::before {
  content: "";
  width: 2rem;
  aspect-ratio: 1;
  background: url("../images/ico_calendar.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-calender::before {
  background: url("../images/ico_calendar_white.svg") no-repeat center;
  background-size: contain;
}
.utility .btn-calender {
  color: #fff;
}

.btn-search {
  width: 5rem;
  aspect-ratio: 1;
  background: url("../images/ico_search.svg") no-repeat center;
  background-size: contain;
}
.header .btn-search {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
}
.search .btn-search {
  translate: 0 2.5rem;
}

.btn-close {
  width: 3rem;
  aspect-ratio: 1;
  background: url("../images/ico_close.svg") no-repeat center;
  background-size: contain;
}
.search .btn-close {
  position: absolute;
  top: -2rem;
  right: 0;
}

.search {
  position: absolute;
  top: 10rem;
  padding: 0 0 4rem;
  width: 160rem;
  height: 10rem;
  align-content: center;
  border: none;
  border-bottom: 0.1rem solid #000;
}
.search form {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.search form input {
  font-size: 5rem;
  font-weight: 900;
  height: 10rem;
  border: none;
  outline: none;
}

/*# sourceMappingURL=index.css.map */
