@use "../abstracts/" as *;

.header {
    position: relative;
    z-index: 1000;
    .header_wrap{
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr 1fr;
        max-width: $websize;
        margin-inline: auto;
        padding-top: 13rem ;
    }
}