@use "../abstracts/" as *;


.btn-archive {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 0.4rem;
    &::before {
        content: '';
        width: 2rem;
        aspect-ratio: 1;
        @include background("ico_archive.svg", center, null, contain, size, contain);
        .utility & {
            @include background("ico_archive_white.svg", center, null, contain, size, contain);
        }
    }
    .utility & {
        color: #fff;
    }
}

.btn-calender {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 0.4rem;
    &::before {
        content: '';
        width: 2rem;
        aspect-ratio: 1;
        @include background("ico_calendar.svg", center, null, contain, size, contain);
        .utility & {
            @include background("ico_calendar_white.svg", center, null, contain, size, contain);
        }
    }
    .utility & {
        color: #fff;
    }
}

.btn-search{    
    width: 4rem;
    aspect-ratio: 1;
    @include background("ico_search.svg",center, null, contain, size, contain);
    .header & {
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: end;
    }
    .search & {
        translate: 0 1.5rem;
    }
}

.btn-close {
    width: 4rem;
    aspect-ratio: 1;
    @include background("ico_close.svg",center, null, contain, size, contain);
    .search & {
        position: absolute;
        top: -2rem;
        right: 0;
    }
}

.button-more {
    display: inline-flex;
    width: 8rem;
    border-bottom: 0.2rem solid #000;
    justify-content: end;
    &::after {
        content: "";
        border-left: 0.2rem solid #000;
        height: 3rem;
        font-size: 0;
        rotate: -45deg;
        transform-origin: bottom;
    }
}