@use "sass:list";


.familysite {

    $colors : fuchsia, yellowgreen, orange, purple, skyblue, ;

    display: flex;
    gap: 2rem;
    padding: 0 0 1rem 0;
    a {
        font-size: 5rem;
        font-weight: 800;
    }
    li {
        transition: 0.3s;
        @each $color in $colors {
            $index: list.index($colors, $color);
            &:nth-child(#{$index}):hover,
            &:nth-of-type(#{$index}) a:focus {
                color: $color;
            }
        }
    }
}