@use "../abstracts/" as *;

.search {
    position: absolute;
    top: 12.5rem;
    width: $websize;
    align-content: center;
    border: none;
    padding: 5rem 0 0 0;
    form {
        padding: 2rem 0;
        border-bottom: 0.1rem solid #222;
        display: grid;
        grid-template-columns: 1fr min-content;
        input {
            font-size: 5rem;
            font-weight: 900;
            height: 10rem;
            border: none;
            outline: none;
        }
    }
}