.tab-list{
    display: flex;
    gap: 1.5rem;
    button {
        padding: 0 0 0.4rem;
        background-color: transparent;
        font-size: 1.6rem;
        background: linear-gradient(#000, #000) no-repeat center bottom / 0 0.2rem;
        &:hover,
        &:focus {
            background-size: 100% 0.2rem;
        }
    }
}